/* 改变主题色变量 */
$--color-primary: #1ABC9C;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-menu {
  width: 210px;
  background-color: #353441;
  overflow: hidden;
}

.el-menu--collapse {
  width: 65px;
}

.el-menu-item {
  background-color: #272730;
  color: #bfbfbf;

  &:hover,
  &:focus,
  &.is-active {
    background-color: #1b1b22;
    color: #fff;
    border-left: 3px solid #1ABC9C;
  }
}

.el-submenu__title {
  color: #bfbfbf;

  &:hover {
    color: #000;
  }
}

.el-menu-item-group__title {
  background-color: #272730;
}

.el-step__title.is-success {
  color: #1ABC9C;
}

.el-step__head.is-success {
  color: #1ABC9C;
  border-color: #1ABC9C;
}